
// Body
$body-bg: #f5f8fa;
$pink: #FF6B6B;
$yellow: #FFE66D;
$white: #F7FFF7;
$light-blue: #4ECDC4;
$dark-blue: #1A535C;
$gray-text: #434343;
$gray-background: #e9e8e8;
$green: #6BFF95;
$orange: #ffd36b;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bp-medium: 768px;
$bp-tablet: 1024px;
$bp-medium-and-sidebar: 968px;
$bp-large: 1200px;
