
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import "variables";

// Forms
@import "forms";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
html,body{
  color: $gray-text;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;

  .btn-primary{
    background-color: $pink;
    border:none;
  }

  h1{
    font-size: 2.0em;
    margin: 25px 0;
  }

  .close-page-btn{
    color: $white;
  }

  #menu-btn{
    position: absolute;
    left: 5%;
    top: 2%;
  }

  .app-page{
    margin:0; 
  }

  #guest-main{
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;

    #login-page,#register-page{
      position: relative;
      height: 100%;
      width: 100%;
      background-color: $pink;
      color: $white;
      padding-top: 10%;
      padding-bottom: 10%;
      
      #logo{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $bp-tablet) {
          width: 40%;
        }
      }
    }

    #register-page{
      h1{
        text-align: center;
      }
      #register-page-1,#register-page-2{
        display:none;
      }
      #register-page-1.active,#register-page-2.active{
        display:block;
      }
    }
  }

  main{
    padding: 0;
    height: 90%;
    width: 100%;
    background-color: $gray-background;

    #home-page{
      height: 90%;
      width: 100%;
      padding:0;

      #saldo-section{
        text-align: center;
        background-color: $pink;
        color: $white;
        width: 100%;
        height: 25%;
        padding-top:10%;
        font-weight: 500;

        #saldo{
          font-size:3em;          
        }
        a{
          text-decoration: none;
          color: $white;
        }
      }
    }

    
  }

  nav{
    margin:0!important;
  }

  .navbar{
    padding:0!important;
    height:10%!important;
    background-color: $white!important;
    font-weight: 400!important;
    font-size: 0.8em!important;
    position:relative;
    #navbar-row{
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      a{
        padding-top: 4%;
        padding-left: 0;
        padding-right: 0;
        color: $gray-text;
        text-decoration: none;
        text-align: center;
      }
    }
  }

}

//Orientation lock
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

