
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

// Variables
@import "variables";

// Forms
@import "forms";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
html,body{
  color: $gray-text;
  position: relative;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: $gray-background;

  .btn-primary{
    background-color: $pink;
    border:none;
  }

  h1{
    font-size: 2.0em;
    margin: 25px 0;
  }

  .close-page-btn{
    color: $white;
  }

  #menu-btn,#back-btn{
    position: absolute;
    left: 5%;
  }

  .app-page{
    margin:0; 
  }

  #menu_modal{
    .modal-dialog{
      margin:0;      

      .modal-content{
        text-align: center;
        background-color: $pink;
        width:75%;
        height: 100vh;
        border:none;
        border-radius:0;
        position: relative;

        #logo{
          margin: 10% auto;
          width: 75%;
          max-height: 25%;
        }

        a{
          margin: 5% 0; 
          text-decoration: none;
          color: $white;
          font-weight: 500;
        }

        #menu-footer{
          color: $white;
          margin: 50% 0;
          font-weight: 500;
          .col{
            height: 100%;
            margin:0;
            img{
              width: 28.8px;
            }
            .menu-footer-text{
              font-size: 0.8em;
              line-height: 1.6;
            }
          }          
        }
      }
    }
    
  }

  #guest-main{
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;

    #login-page,#register-page{
      position: relative;
      height: 100%;
      width: 100%;
      background-color: $pink;
      color: $white;
      padding-top: 10%;
      padding-bottom: 10%;
      
      #logo{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $bp-tablet) {
          width: 40%;
        }
      }
    }

    #register-page{
      h1{
        text-align: center;
      }
      #register-page-1,#register-page-2{
        display:none;
      }
      #register-page-1.active,#register-page-2.active{
        display:block;
      }
    }
  }

  main{
    position: relative;
    padding: 0;
    height: 90%;
    width: 100%;
    background-color: $gray-background;

    #home-page{
      position: relative;
      width: 100%;
      height: 100%;
      padding:0;

      #contact-section{
        text-align: center;
        padding-bottom: 5%;
      }

      #saldo-section{
        text-align: center;
        background-color: $pink;
        color: $white;
        width: 100%;
        height: 25%;
        padding-top:10%;
        font-weight: 500;

        #saldo{
          font-size:3em;          
        }
        a{
          text-decoration: none;
          color: $white;
        }
      }

      #top-page-section{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
        height:10vh;
        text-align: center;
        background-color: $pink;
        color:$white;
        padding-top:5%;
        #title{
          font-size:1em;
          font-weight:500;
        }
        a{
          text-decoration: none;
          color: $white;
        }
      }

      #page-content{
        position: relative;
        padding: 10vh 0;
      }

      #top-open-reserved-wasmachine,#top-open-reserved-dryer{
        height: 30%;
        padding-top: 7%;
        padding-left: 5%;       

        .top-reserved-detail{
          width: 60%;
          color: #fff;
          font-weight: 500;
          .time-left{
            font-size: 3.5em;
          }
        }
      }

      #top-open-reserved-wasmachine{        
        background: $light-blue url("/img/devices/wm-big-cut.png") no-repeat right;
        background-size: auto 100%;
      }
      #top-open-reserved-dryer{
        background: $yellow url("/img/devices/dry-big-cut.png") no-repeat right;
        background-size: auto 100%;
      }

      #reserved-devices{
        background-color: $gray-background;
        overflow-y: hidden;

        .reserved-device{
          background-color: $white;
          margin: 1% 0 0 0;
          text-decoration: none;
          color: $gray-text;

          .wash-reserved-device-number,.dry-reserved-device-number{
            width: 16%;          
            color: $white;
            font-size:2em;
            font-weight: 500;
            margin-top: 1%;
            text-align: center;
          }
  
          .wash-reserved-device-number{
            background: $light-blue url("/img/devices/wm-blue-cut.png") no-repeat left;
            background-size: 90% 90%;
          }

          .dry-reserved-device-number{
            background: $yellow url("/img/devices/dry-yellow-cut.png") no-repeat left;
            background-size: 90% 90%;
          }

          .reserved-device-information{
            width: 80%;
            text-align: right;
            padding-right:20px;            
            
            .reserved-device-status{
              font-size: 1.5em;
              font-weight: 500;

              &.done{
                color: $green;
              }
              &.in-use{
                color: $orange;
              }
            }

            .reserved-device-extra-information{
              font-size:1em;
            }
          }
        }
      }

      .app-block{
        text-align:center;
        margin:0;
        width: 100%;
        position: relative;
        color:$white;

        &.app-block-5{
          height: 16vh;
        }
        &.app-block-4{
          height: 20vh;
        }
        &.app-block-3{
          height: 26.6vh;
        }
        &.light-blue-block{
          background-color: $light-blue;
        }
        &.dark-blue-block{
          background-color: $dark-blue;
        }
        &.pink-block{
          background-color: $pink;
        }
        &.yellow-block{
          color:$pink;
          background-color: $yellow;
        }
        &.white-block{
          background-color: $white;
          color: $gray-text;
        }
        &.block-margin{
          margin-top: 1%;
        }

        .app-block-icon{          
          padding: 10% 0 0 0;
          text-align: center;
          width: 30%;
          img{
            height: 50%;
          }
          i{
            font-size: 2em;
          }
          .delete-image-cross{
            position: absolute;
            top: 5%;
            left: 20%;
            color: $pink;
            display:none;

            &.active{
              display:block;
            }
          }
        }

        .app-block-text,.app-block-right{          
          padding: 10% 0 0 0;
          font-size: 2em;
          font-weight: 500;
          text-align: center;

          &.normal-text{
            font-size: 1em;
          }
        }

        .app-block-text{
          width: 50%;
        }

        .app-block-right{
          width: 20%;
        }
        
      }

      .app-text-row{
        background-color: $white;
        color: $gray-text;
        padding: 2% 0 0 0;
        margin: 1% 0 0 0;

        label{
          color:$gray-text;
          font-size: 1.0em;
        }

        &.full{
          padding: 2% 5%;
          textarea{
            width: 100%;
            background-color: $gray-background;
          }
        }

        .app-text-row-symbol-begin{
          width: 50%;
          padding-left: 5%;
          &.charge-date{
            padding-top:2%;
          }
        }
        .app-text-row-title{
          width: 50%;
          padding-left: 5%;
          &.charge-date{
            padding-top:2%;
          }
        }
        .app-text-row-value{
          text-align: right;
          width: 50%;
          padding-right: 5%;
        }
        .app-text-row-tab{
          margin: 0 5%;
          .faq-carret{
            width: 5%;
          }
          .app-text-row-tab-text{
            width: 95%;
            font-weight: 500;
            padding-left: 5%;
          }
        }
        .app-text-row-tab-value{
          display:none;
          background-color: $gray-background;
          width: 100%;
          padding: 5% 10%;
        }
      }

      #credit-charge-amount-section,.choose-section{
        margin-top: 1%;
        padding:5% 0;
        text-align: center;        
        background-color: $white;
      }

      #credit-charge-amount-section{
        height: 30%;
      }

      .choose-section{
        position: relative;
        height: 30%;

        .payment-methode-row,.choose-section-row{
          position:relative;
          margin:5% 0 0 0;

          div{
            width: 33%;
            &.choose-option-4{
              width: 50%;
            }
            label{
              color: $gray-text;
              font-size: 1.2em;
            }
            .pay-method-img{
              max-width: 100%;
              height: 60px;
            }
          }
          
        }

        
      }
      
      #reserve-device-btn{
        position:fixed;
        bottom:12%;
        right: 3%;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        color: $white;
        background-color: $pink;
        text-align:center;
        box-shadow: 1px 3px $gray-text;

        i{
          margin-top:25%;
        }        
      }

      #slide-page-1{
        width: 100%;
        height: 100%;
        position: relative;
        &.non-active-top-slide{
          position: absolute;
          -webkit-animation: non-active-top-slide-page 0.5s forwards;
          -webkit-animation-delay: 0s;
          animation: non-active-top-slide-page 0.5s forwards;
          animation-delay: 0s;
        }

        @-webkit-keyframes non-active-top-slide-page {
          100% { left: -100%; }
        }
        
        @keyframes non-active-top-slide-page {
            100% { left: -100%; }
        }
      }

      .slide-page{
        position: absolute;
        width: 100%;
        height: 100%;
        right: -100%;
        display:none;

        &.active-child-slide{
          display:block;
          -webkit-animation: active-child-slide-page 0.5s forwards;
          -webkit-animation-delay: 0s;
          animation: active-child-slide-page 0.5s forwards;
          animation-delay: 0s;
        }

        @-webkit-keyframes active-child-slide-page {
          100% { right: 0; }
        }
        
        @keyframes active-child-slide-page {
            100% { right: 0; }
        }
      }
      
    }
  }

  nav{
    margin:0!important;
  }

  .navbar{
    padding:0!important;
    height:10%!important;
    background-color: $white!important;
    font-weight: 400!important;
    font-size: 0.8em!important;
    #navbar-row{
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      a{
        padding-top: 4%;
        padding-left: 0;
        padding-right: 0;
        color: $gray-text;
        text-decoration: none;
        text-align: center;
        i{
          color: gray;
        }
      }
    }
  }

}

//Orientation lock
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

