.open-reservation{
    background-color: $pink;
    text-align: center;
    color: $white;
    .time-status{
        font-size: 5em;
        &.text-status{
            font-size: 2em;
        }
    }
    .time-status-extra{
        font-size: 1.2em;
        margin-bottom: 10%;
    }

    .device-info-section{
        .device-info-title{
            font-size: 0.8em;            
        }
        .device-info-value{
            font-size: 3em;
            img{
                width: 30%;
            }
            &.location{
                font-size:0.8em;
            }
        }
    }
    

    #play-device-btn,#stop-device-btn,.open-device-icon,#cancel-reservation-btn{
        &.active{
            display:inline-block;
        }
        &.deactivated{
            display:none;
        }
        &.locked{
            display:inline-block;
            opacity:0.5;
        }
    }

    #play-stop-row{
        margin-top: 10%;
        position: absolute;
        bottom: 20%;
        width: 100%;
    }

    .open-reservation-bottom{
        margin-top: 10%;
        position: absolute;
        bottom: 5%;
        width: 100%;

        .open-device-icon{
            width:20%;
            img{
                width: 50%;
            }
        }
        #cancel-reservation-btn{
            width: 50%;
            
        }
    
    }

    
    
}